{% extends 'base.html.twig' %}


{% block body %}
    <h2>Entity creation</h2>

    {{ form(form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
